<html>
<head>
	<meta charset="UTF-8">
	<title>About</title>
</head>
<body>
<div id="abt">
	<div id="about">
		<h2>Maker of internet things and attempting to capture nice looking pixels.</h2>
		
		<ul>
			<li>
				<a href="http://www.facebook.com/afs35mm" target="_blank">
					<img src="img/fb-icon.gif" alt="">
				</a>
			</li>
			<li>
				<a href="http://www.twitter.com/afs35mm" target="_blank">
					<img src="img/twitter-icon.gif" alt="">
				</a>
			</li>
		</ul>
		<p id="blurb">
			This website is an experiment that runs off the Flickr API. If something's broken of looks a bit off, <a href="http://www.twitter.com/afs35mm" target="_blank">hit me up</a>. If it doesn't work at all, that probably means there's something wrong with Flickr. And if you don't like my photos, <a href="https://www.youtube.com/watch?v=O6Xo21L0ybE" target="_blank">here's a bear waving 'bye' instead</a>.
		</p>

	</div>
</div>
</body>
</html>